.header {
  width: 100%;
  background: @component-background;
  height: 64px;
  padding: 0;
  box-shadow: 0 0.3px 0.9px rgba(0, 0, 0, 0.12), 0 1.6px 3.6px rgba(0, 0, 0, 0.12);
  z-index: 2;

  &.horizontal {
    width: 280px;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: none;
    background-color: transparent;
  }
}

.content {
  height: 64px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 20px;
  transition: all .3s;

  &:hover {
    background: rgba(0, 0, 0, .025);
  }
}

.toggleMenu {
  display: inline-block;
  height: 64px;
  line-height: 64px;
  padding: 0 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s, padding 0s;
}

.themeSwitchWrapper {
  position: relative;
  display: inline-flex;
  height: 64px;
  line-height: 64px;
  text-align: center;
  cursor: pointer;
  transition: all .3s;
  align-items: center;
}

.themeSwitch {
  position: relative;
  display: flex;
  width: 50px;
  height: 26px;
  padding: 0 6px;
  margin-left: auto;
  cursor: pointer;
  background-color: #151515;
  border-radius: 30px;
  justify-content: space-between;
  align-items: center;

  &Inner {
    position: absolute;
    z-index: 1;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.5s, background-color 0.5s;
    will-change: transform;
  }

  &Dark {
    .themeSwitchInner {
      transform: translateX(calc(100% + 2px));
    }
  }

  & svg {
    display: inline-block;
    overflow: hidden;
    vertical-align: -0.15em;
    fill: currentColor;
  }
}

.spin {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.layoutCheckIndicator {
  position: relative;
  width: 44px;
  height: 36px;
  margin-right: 16px;
  overflow: hidden;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2.5px 0 rgb(0 0 0 / 18%);
  box-shadow: 0 1px 2.5px 0 rgb(0 0 0 / 18%);
  cursor: pointer;

  .checkboxItem {
    position: absolute;
    right: 12px;
    bottom: 6px;
    color: @primary-color;
    font-weight: bold;
    font-size: 18px;
    pointer-events: none;
  }

}

.preference {
  position: relative;
  height: 64px;
  line-height: 64px;
  display: flex;
  align-items: center;
  padding: 0 0 0 10px;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s, padding 0s;
}
